
<table>
  <tr>
    <td>Class</td>
    <td><%= @classes_list[@batch.batch] %> <%= @batch.section.upcase %></td>
  </tr>
  <tr>
    <td>Students Count</td>
    <td><%= @student_batch.count %></td>
  </tr>
</table>
<br>
Staff List:
<br><br>
<% i=1 %>
<table>
  <% @batch_subjects.each do |b| %>
    <% teacher_batch_subject = TeacherBatchSubject.find_by(batch_subject_id: b) %>
    <% user = User.find(teacher_batch_subject.user_id)%>
    <% sub = Subject.find(b.subject_id) %>
    <tr>
      <td><%= i %><% i+=1 %></td>
      <td><%= user.fname %> <%= user.lname %></td>
      <td><%= sub.subject %></td>
    </tr>
  <% end %>
</table>
<br><br>
Students List:
<br><br>
<% i=1 %>
<table>
  <% @student_batch.each do |s| %>
    <% student = User.find(s.user_id)%>
    <tr>
      <td><%= i %><% i+=1 %></td>
      <td><%= student.fname %> <%= student.lname %></td>
    </tr>
  <% end %>
</table>
